.main{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(5, 236, 5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gaugeChar{
    /* width: 140px; */
    /* height: 140px; */
    width: 145px;
    height: 120px;
    /* border: 1px solid blue; */
    color: white;
    margin: 0 15px;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

.verticalBar{
    width: 140px;
    /* height: 140px; */
    margin: 0 15px;
    /* border: 1px solid blue; */
    /* font-size: 0.8vw; */
    font-size: 16px;
}
