.borderLine {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    border: 1px solid #404447;
    height: 79vh;
}

.topOutset {
    /* border: 1px solid red; */
    width: 98.5vw;
    margin-left: 0.25vw;
    /* outline: 1px solid red; */
    overflow: hidden;
}
.aliTopOutset {
    /* border: 1px solid red; */
    width: 49.75vw;
    margin-left: 0.25vw;
    /* outline: 1px solid red; */
    overflow: hidden;

}

.topInside {
    height: 32vh;
    width: 99.5vw;
    background-color: #191f2e;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid #404447;

}

.aliTrain {
    height: 18vh;
    width: 98.5vw;
    background-color: #191f2e;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid #404447;
}

.aliTrainTemperature {
    min-height: 18vh;
    /* width: 99.5vw; */

    width: 48.75vw;
    /* 留0.5vw */
    background-color: #191f2e;
    /* margin-top: 1vh; */
    margin-bottom: 1vh;
    border: 1px solid #404447;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.top {
    height: 5vh;
}

.top .Select {
    margin-top: 0.5vh;
    margin-left: 1vw;
}

.train {
    height: 12vh;
    /* border: 1px solid blue; */
}

.trainStatus {
    /* height: 48vh; */
    width: 100%;
    min-height: 18vh;
    /* border: 1px solid green; */
}

.content {
    min-height: 33vh;
    max-height: 66vh;
    /* border: 1px solid red; */
    margin-left: 0.25vw;
}

.bottomLeft {
    /* width: 98%; */
    width: 48.75vw;
    /* height: 65vh; */
    border: solid 1px #404447;
    /* margin-left: 0.5vw; */
}

.bottomright {
    /* width: 99.5%; */
    width: 49.25vw;
}

.bottomrightImg {
    width: 100%;
    height: 40vh;
    border-top: solid 1px #404447;
    margin-top: 15px;
}

.bottomrightKeyData {
    width: 100%;
    height: 24vh;
    /* border: solid 1px #517992; */
    margin-top: 1vh;
    display: flex;
}